body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
    background-color: rgb(0, 0, 0);
}

header {
    color: seashell;
    padding: 0.5em;
    font-weight: bold;
    font-size: 3em;
    text-align: left;
}

.add {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    border-style: none;
    background-color: transparent;
    padding: 5px;
}

.add:hover {
    background-color: seashell;
    color: black;
    border-radius: 3px;
}

.book-card {
    background: tomato;
    height: auto;
    line-height: 15px;
    color: white;
    font-weight: bold;
    font-size: 1em;
    text-align: left;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(9,30,66,.25);
    padding: 10px;
    cursor:pointer;
}

.list-layout {
    display: grid;
    grid-gap: 10px;
}

.book-lists {
    display: grid;
    grid-auto-columns:48%;
    grid-auto-flow: column;
    grid-gap: 2%;
    margin-left: 2%;
}
  
.book-list {
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 3px;
    display: grid;
    grid-auto-rows: max-content;
    grid-gap: 10px;
    height: max-content;
    padding: 10px;
}
  
.list-title {
    color:seashell;
    font-size: 1.5em;
    font-weight: bold;
}

table {
    padding: 0;
}

.remove-button {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    border-style: none;
    background-color: transparent;
    padding: 5px;
}

.remove-button:hover {
    background:black;
    color: seashell;
    border-radius: 3px;
}

.edit-button {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    border-style: none;
    background-color: transparent;
    padding: 5px;
}

.edit-button:hover {
    background:black;
    color: seashell;
    border-radius: 3px;
}