body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
    background-color: rgb(201, 201, 201);
}

header {
    color: seashell;
    padding: 0.5em;
    font-weight: bold;
    font-size: 3em;
    text-align: left;
    background-color:rgb(0, 0, 0);
}

.add {
    color: seashell;
    font-size: 50px;
    font-weight:bolder;
    text-align: center;
    margin: 20px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 40px;
    background-color:forestgreen;
    border: none;
}

.add:hover {
    font-size: 60px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    width: 60px;
    height: 60px;
    line-height: 50px;
    background-color:forestgreen;
}

.book-cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style: none;
}

.book-card {
    background: tomato;
    padding: 10px;
    width: 300px;
    height: auto;
    margin-top: 10px;
    line-height: 15px;
    color: white;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
}

.add-modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
  
.add-modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

form {
    width: 400px;
    padding: 1em;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

form li + li {
    margin-top: 1em;
}

label {
    display: inline-block;
    width: 90px;
    text-align: right;
}

input,
textarea {
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #999;
}

input:focus,
textarea:focus {
    border-color: #000;
}

textarea {
    vertical-align: top;
    height: 5em;
}

.button {
    padding-left: 90px;
}

button {
    margin-left: 0.5em;
}