body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
    background-color: rgb(0, 0, 0);
}

header {
    color: seashell;
    padding: 0.5em;
    font-weight: bold;
    font-size: 3em;
    text-align: left;
}

.add {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    border-style: none;
    background-color: transparent;
    padding: 5px;
}

.add:hover {
    background-color: none;
    color: seashell;
    border-radius: 3px;
}

.book-card {
    background: tomato;
    height: auto;
    line-height: 10px;
    color: seashell;
    font-weight: bold;
    font-size: 1em;
    text-align: left;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(9,30,66,.25);
    padding: 10px;
    cursor:pointer;
}

.list-layout {
    display: grid;
    grid-gap: 10px;
}

.book-lists {
    display: grid;
    grid-auto-columns:48%;
    grid-auto-flow: column;
    grid-gap: 2%;
    margin-left: 2%;
}
  
.book-list {
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 3px;
    display: grid;
    grid-auto-rows: max-content;
    grid-gap: 10px;
    height: max-content;
    padding: 10px;
}
  
.list-title {
    color:seashell;
    font-size: 1.5em;
    font-weight: bold;
}

table {
    padding: 0;
}

.remove-button {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    border-style: none;
    background-color: transparent;
}

.remove-button:hover {
    background:none;
    color: seashell;
}

.edit-button {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    border-style: none;
    background-color: transparent;
}

.edit-button:hover {
    background: none;
    color: seashell;
}

form {
    display: none;
    flex-direction: column;
    gap: 5px;
    inline-size: 100%;
    flex-wrap: wrap;
}

input[type=text] {
    padding: 5px;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    font-family:inherit;
    font-size: inherit;
    background: inherit;
    color: inherit;
}

input[type=number] {
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    font-family:inherit;
    font-size: inherit;
    background: inherit;
    color: inherit;
}

input[type=submit] {
    color: rgba(255, 255, 255, 0.5);
    border:0;
    font-family:inherit;
    font-size: inherit;
    font-weight: inherit;
    background: none;
}

input[type=submit]:hover {
    color: seashell;
}

input::placeholder {
    font-family:inherit;
    font-size: inherit;
    color: inherit;
}